.whole {
  background-color: #AC7D88;
  margin: 0%;
  padding-top: 2%;
  padding-bottom: 3%;
  text-align: center;
  
}
.heading{
margin: 4%;
margin-left: 17%;
margin-right: 17%;
padding: 2%;
background-color: #F8ECD1;
border-radius:10% ;
}
.heading:hover{
  background-color: #F5EBE0;
}
.top{
  font-size: x-large;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #85586F;

}
.part1{
  background-color: #AC7D88;
  margin-bottom:4%;
  padding: 1%;
  color: azure;
}

.card1{ 
background-color: #F8ECD1;
margin-left: 10%;
margin-right: 10%;
padding: 10%;
padding-top: 4%;
margin-top: 0%;
margin-bottom: 2%;
 
}

.image{
  margin: 0%;
  margin-top: 0%;
  padding-left: 0%;
  padding:10%;
  background-color: #AC7D88;
}

